@page
@model FullCRUDZoo.Pages.Animals.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<section class="d-flex justify-content-center align-items-center flex-column">
    <h1 class="mb-5">Are you sure you want to delete @Model.Animal.Name ?</h1>
    <div class="d-flex justify-content-center align-items-center flex-column">

        <img src="@Model.Animal.PhotoURL" alt="@Model.Animal.Name the @Model.Animal.Species's Photo" class="w-50">
        <h3 class="m-3">Details</h3>

        <div class="d-flex justify-content-center align-items-center flex-column">
            <dl class="row w-25 justify-content-center ">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Animal.Species)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Animal.Species)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Age)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Animal.Diet)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Animal.Diet)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Animal.DateOfBirth)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Animal.DateOfBirth)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Animal.DateAquired)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Animal.DateAquired)
                </dd>
            </dl>

            <div class="m-2 d-flex w-50 justify-content-center">
                <form method="post">
                    <input type="hidden" asp-for="Animal.AnimalID" />
                    <input type="submit" value="Delete" class="btn btn-danger m-3" />
                </form>
                <a asp-page="./Details" asp-route-id="@Model.Animal.AnimalID" class="btn btn-secondary m-3">Back to
                    Details</a>
            </div>
            <p class="text-danger">@Model.ErrorMessage</p>
        </div>
    </div>
</section>
