@page
@model FullCRUDZoo.Pages.Animals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<section class="d-flex justify-content-center align-items-center flex-column">

    <h1>@Model.Animal.Name</h1>

    <div class="d-flex justify-content-center align-items-center flex-column">
        <hr />
        <img src="@Model.Animal.PhotoURL" alt="@Model.Animal.Name the @Model.Animal.Species's Photo" class="w-50">
        <h3 class="m-3">Details</h3>
        <dl class="row w-25 justify-content-center ">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Animal.Species)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Animal.Species)
            </dd>
            <dt class="col-sm-6">
                Age
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Animal.Diet)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Animal.Diet)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Animal.DateOfBirth)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Animal.DateOfBirth)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Animal.DateAquired)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Animal.DateAquired)
            </dd>
        </dl>
    </div>
    <div class="m-2 d-flex w-50 justify-content-center">
        <a asp-page="./Edit" asp-route-id="@Model.Animal?.AnimalID" class="btn btn-primary m-3">Edit</a>
        <a asp-page="./Delete" asp-route-id="@Model.Animal.AnimalID" class="btn btn-danger m-3">Delete</a>
    </div>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</section>
