@page
@model FullCRUDZoo.Pages.Animals.IndexModel

@{
    ViewData["Title"] = "Zoo Animals";
}

<h1>Zoo Animals</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Add Animal</a>
</p>

<form method="get" asp-page="./Index">
    <div class="form-actions no-color">
        <p>
            Find By Name/Species
            <input type="text" name="searchString" value="@Model.CurrentFilter">
            <input type="submit" value="Search" class="btn btn-primary">
            <a asp-page="./Index" class="btn btn-secondary">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Animals[0].Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SpeciesSort">
                    @Html.DisplayNameFor(model => model.Animals[0].Species)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LastFedSort">
                    @Html.DisplayNameFor(model => model.Animals[0].LastFed)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Animals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastFed)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.AnimalID" class="btn btn-secondary">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
